
section.about
    .about__profile
        img(src="./sources/miPhoto.png" alt="")
        a(href="") alexandermaldonadosoto@gmail.com
        ul 
            li 
                a(href="#")  
                    <i class="fa-brands fa-square-twitter"></i>
            li
                a(href="#")  
                    <i class="fa-brands fa-dev"></i>
            li  
                a(href="#") 
                    <i class="fa-brands fa-github"></i>
            li
                a(href="#") 
                    <i class="fa-brands fa-instagram"></i>

    .about__text
        h2 Sobre mi 
        p  Soy un estudiante de secundaria apasionado al desarrollo web y a los deportes, me gusta tocar guitarra y jugar videojuegos en mi tiempos libres, haci como tambien escribo algunos post en dev community y soy voluntario en olimpiadas especiales en Guatemala
        h3 Lenguajes
        .about__text--languaje
            <i class="fa-brands fa-bootstrap"></i>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-git-alt"></i>
            <i class="fa-brands fa-less"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-html5"></i>

           
           
