nav 
    span MALDEXANDER
    div 
        a(href="") Inicio 
        a(href="") Portafolio
        a(href="") Sobre mi 

section.about
    div
        img(src="" alt="")
        a(href="")
        ul 
            li 
                a(href="#")  
                    <i class="fa-brands fa-square-twitter"></i>
            li
                a(href="#")  
                    <i class="fa-brands fa-dev"></i>
            li  
                a(href="#") 
                    <i class="fa-brands fa-github"></i>
            li
                a(href="#") 
                    <i class="fa-brands fa-instagram"></i>

        div
            h2 
            p 
            h3 
            ul
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
