header 
    a(name="header").link-nav.link-nav--header
    h1 Soy
        span   Alex Maldonado
    div 
        span.typed 
    ul 
        li 
            a(href= socialMedia[0] target="_blank")  
                <i class="fa-brands fa-square-twitter"></i>
        li
            a(href= socialMedia[1] target="_blank")  
                <i class="fa-brands fa-dev"></i>
        li  
            a(href= socialMedia[2] target="_blank") 
                <i class="fa-brands fa-github"></i>
        li
            a(href= socialMedia[3] target="_blank") 
                <i class="fa-brands fa-instagram"></i>
               
    <i class="fa-regular fa-down-long header__rowDown fa-bounce"></i>

