header 
    h1 Soy
        span   Alex Maldonado
    span.typed 
    ul 
        li 
            a(href="#")  
                <i class="fa-brands fa-square-twitter"></i>
        li
            a(href="#")  
                <i class="fa-brands fa-dev"></i>
        li  
            a(href="#") 
                <i class="fa-brands fa-github"></i>
        li
            a(href="#") 
                <i class="fa-brands fa-instagram"></i>
               
    a(href="#") 
    <i class="fa-regular fa-down-long header__rowDown fa-bounce"></i>

