
<!--Libreria para la animacion de texto-->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<!--Archivo de configuracion de javascript-->
script(src="./js/main.js") 
<!--Script de font awesome-->
<script src="https://kit.fontawesome.com/23da889756.js" crossorigin="anonymous"></script>
<!--Script de los proyectos-->
script(src="./js/proyectos.js") 