<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q6C74SCD42"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q6C74SCD42');
</script>
#div
nav 
    span.logo MALDEXANDER
    i(onclick="navbar()").fa-solid.fa-bars.menu
    div.navbar#navbar
        i(onclick="navbarReverse()").fa-solid.fa-xmark
        a(href="#header", onclick="navbarReverse()") Inicio 
        a(href="#about", onclick="navbarReverse()") Sobre mi 
        a(href="#portafolio", onclick="navbarReverse()") Portafolio
