doctype html
html(lang="en")
    include componentes/head
    body 
        main
            include componentes/header.pug
            include componentes/navbar.pug
            include componentes/about.pug
            include componentes/js.pug
        