-var socialMedia = [`https://twitter.com/Maldexander`, `https://dev.to/alexmaldonadosoto`, `https://github.com/Alex-Maldonado-Soto`, `https://www.instagram.com/maldexander/`]


doctype html
html(lang="en")
    include componentes/head
    body 
        main

            include componentes/header.pug
            include componentes/navbar.pug
            include componentes/about.pug
            include componentes/proyect.pug
            include componentes/js.pug