@colorPrimario: #050a30;
@colorSecundario: #e3b517;
@colorTerciario: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: @colorPrimario;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5.43rem;
}


.link-nav {
  position: absolute;
}

.link-nav--header{
    position: absolute;
    top: 0;
  }


.link-nav--about {
    top: 100%;
}

.link-nav--Portafolio{
    top: 240%;
}

