* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background-color: #050a30;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 5.43rem;
}
.link-nav {
  position: absolute;
}
.link-nav--header {
  position: absolute;
  top: 0;
}
.link-nav--about {
  top: 100%;
}
.link-nav--Portafolio {
  top: 240%;
}
